<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/static/parallax.css">
    <link rel="stylesheet" href="/static/gallery.css">
    <style>
        .highlight {
            background-color: yellow;
            /* Or any other highlight style */
        }
    </style>

    <script src="/static/utils.js"></script>


</head>

<body>
    <!-- Top Nav Bar -->
    <%- include('../partials/topnav'); %>

    <!-- Parallax -->
    <!-- Photo for parallax is currently not purchased but will be purchased if design is agreed -->
    <div class="parallax">
        <img id="logo" src="/static/Logo.webp">

        <div class="main-body">
            <div>
                <h1 id="sep_h1">Booking Details.</h1>


                    <div class="bookings" id="search" style="background-color:white; color: black;">

                        <p>Find a Booking:</p>
                        <input type="text" placeholder="BookingID Here" id="findID">
                        <button onclick="searchBooking()">Search</button>

                        <div id="bookingsContainer">
                        result will show here
                        </div>
                        <a href="/bookings" >
                         <span>Show All</span>
                        </a>
                        <a href="#" onclick="filterBookings('all'); return false;">
                         <span>All future</span>
                        </a>
                        <a href="#" onclick="filterBookings('week'); return false;">
                         <span>Filter This week</span>
                        </a>
                        <a href="#" onclick="filterBookings('today'); return false;">
                         <span>Filter Today</span>
                        </a>

                    </div>



               

                <% if (bookings && bookings.length> 0) { 
                    bookings.forEach(booking=> { 
                        // Get the booking ID as a string
                        const bookingIdString = booking._id.toString();
                        // Assuming the newBookingId is passed from the server-side logic
                        const isNewBooking = bookingIdString === newBookingId;
                        const bookingClass = isNewBooking ? 'highlight' : '';
                %>
                <div class="booking <%= bookingClass %>"
                    id="<%= booking._id %>">
                    <div class="bookings">
                        <a href="#" onclick="editBooking('<%= booking._id %>')"><p><strong>ID:</strong>
                            <%= booking._id %>
                        </p></a>
                        <p><strong>Name:</strong>
                            <%= booking.name %>
                        </p>
                        <p><strong>Date:</strong>
                            <%= booking.date %>
                        </p>
                        <p><strong>Time:</strong>
                            <%= booking.time %>
                        </p>
                        <p><strong>Vehicle:</strong>
                            <%= booking.car %>
                        </p>
                    </div>
                </div>
                <% }); %>
                <% } else { %>
                <p><div class="bookings error">No bookings found.</div></p>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>
